<nav class="navbar navbar-expand-md navbar-dark">
  <!-- Navbar content -->
  <div class="container-fluid">
    <a routerLink="/" class="title navbar-brand">Sara Flowers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="userrole=='Admin'" class="nav-link" aria-current="page" routerLink="/admin" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Home</a>
            <a *ngIf="userrole=='Normal'" class="nav-link" aria-current="page" routerLink="/account" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a *ngIf="!isLoggedIn" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Hi Guest!!
          </a>
          <a *ngIf="isLoggedIn" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{login.getUser().username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngIf="!isLoggedIn"><a class="dropdown-item" data-bs-toggle="modal"
                data-bs-target="#loginModal">Login</a></li>
            <li *ngIf="!isLoggedIn"><a class="dropdown-item" data-bs-toggle="modal"
                data-bs-target="#registerModal">Register</a></li>
            <li *ngIf="isLoggedIn"><a class="dropdown-item" data-bs-toggle="modal"
                data-bs-target="#changePasswordModal">Change Password</a></li>
            <li *ngIf="isLoggedIn"><a (click)="logout()" class="dropdown-item" routerLink="/account"
                routerLinkActive="active">Logout</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li *ngIf="isLoggedIn">
              <a *ngIf="userrole=='Normal'" class="dropdown-item" routerLink="/myorders">My Orders</a>
            </li>
            <li *ngIf="isLoggedIn">
              <a class="dropdown-item" routerLink="/myprofile">My Profile</a>
            </li>
         <!--   <li>
              <a class="dropdown-item" routerLink="/account">Something else here</a>
            </li> -->
          </ul>
        </li>

        <li class="nav-item">
          <a *ngIf="!cartEmpty" class="nav-link position-relative" aria-current="page" routerLink="/checkout"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">

            <mat-icon>shopping_cart</mat-icon>
            <span class="position-absolute top-1 start-100 translate-middle badge rounded-circle bg-danger">
              {{cartItem}}
            </span>
          </a>
          <a *ngIf="cartEmpty" class="nav-link position-relative" aria-current="page" routerLink="/cartempty"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">

            <mat-icon>shopping_cart</mat-icon>
            <span class="position-absolute top-1 start-100 translate-middle badge rounded-circle bg-danger">
              {{cartItem}}
            </span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link ms-2" routerLink="/contactform" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shops" routerLinkActive="active">Shop Locations</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" routerLink="/account" routerLinkActive="active">Delete</a>
        </li> -->
      </ul>

    </div>
  </div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable bg-light">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center text-uppercase" id="exampleModalLabel">Login here !!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-login></app-login>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable bg-light">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center text-uppercase" id="exampleModalLabel">Register here !!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-register></app-register>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable bg-light">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center text-uppercase" id="exampleModalLabel">Change your Password here !!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-changepassword></app-changepassword>

      </div>

    </div>
  </div>
</div>